<div
  class="container d-flex justify-content-center align-items-center"
  style="margin-top: 10vh"
>
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
    <div class="text-center my-5">
      <h3 class="fw-semibold">Crea una cuenta</h3>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <!-- Rut -->
      <div class="mb-3">
        <input
          type="text"
          class="form-control rounded-pill p-3"
          id="inputRut"
          name="rut"
          placeholder="Rut"
          [(ngModel)]="formData.rut"
          [(ngModel)]="formData.rut"
          required
          #rut="ngModel"
        />
        <div *ngIf="rut.invalid && rut.touched" class="text-danger ms-2 mt-1">
          El Rut es obligatorio.
        </div>
      </div>
      <!-- Nombres -->
      <div class="mb-3">
        <input
          type="text"
          class="form-control rounded-pill p-3"
          id="inputNames"
          name="name"
          placeholder="Nombres"
          [(ngModel)]="formData.name"
          [(ngModel)]="formData.name"
          required
          #name="ngModel"
        />
        <div *ngIf="name.invalid && name.touched" class="text-danger ms-2 mt-1">
          El nombre es obligatorio.
        </div>
      </div>

      <!-- Apellidos -->
      <div class="mb-3">
        <input
          type="text"
          class="form-control rounded-pill p-3"
          id="inputSurnames"
          name="surname"
          placeholder="Apellidos"
          [(ngModel)]="formData.surname"
          required
          #surname="ngModel"
        />
        <div
          *ngIf="surname.invalid && surname.touched"
          class="text-danger ms-2 mt-1"
        >
          El apellido es obligatorio.
        </div>
      </div>

      <!-- Correo -->
      <div class="mb-3">
        <input
          type="email"
          class="form-control rounded-pill p-3"
          id="inputEmail"
          name="email"
          placeholder="Correo electrónico"
          [(ngModel)]="formData.email"
          required
          #email="ngModel"
        />
        <div
          *ngIf="email.invalid && email.touched"
          class="text-danger ms-2 mt-1"
        >
          El correo es obligatorio.
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <input
          type="password"
          class="form-control rounded-pill p-3"
          id="inputPassword"
          name="password"
          placeholder="Contraseña"
          [(ngModel)]="formData.password"
          required
          #password="ngModel"
        />
        <div
          *ngIf="password.invalid && password.touched"
          class="text-danger ms-2 mt-1"
        >
          La contraseña es obligatoria.
        </div>
      </div>

      <!-- Botón de registro -->
      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-lg btn-lockin-secondary rounded-pill py-3"
        >
          Crear cuenta
        </button>
      </div>

      <p></p>

      <!-- Botón para ir a iniciar sesión -->
      <div class="d-grid">
        <button
          type="button"
          class="btn btn-lg btn-lockin-primary rounded-pill py-3"
          [routerLink]="['/login']"
        >
          Iniciar Sesión
        </button>
      </div>
    </form>
  </div>
</div>
