<div class="container-fluid ms-5 my-4">
  <div class="row">
    <div class="col-8">
      <h2>Resumen de Casilleros</h2>
      <div class="container-fluid d-flex gap-3 flex-wrap mt-4">
        <!-- Cada tarjeta ocupa 3 columnas por fila (4 tarjetas por fila) -->
        <div
          *ngFor="let casillero of casilleros"
          class="col-12 col-sm-6 col-md-3"
        >
          <div
            class="card mb-3 d-flex flex-column"
            [ngClass]="getCardClass(casillero.estado)"
            style="height: 100%"
          >
            <div class="card-header text-center fw-bold">
              {{ casillero.id_cld }}
            </div>
            <div
              class="card-body justify-content-center text-center flex-grow-1"
            >
              <h5 class="card-title fw-bold">
                {{ casillero.estado | titlecase }}
              </h5>
              <button
                *ngIf="casillero.estado === 'libre'"
                class="btn btn-primary rounded-pill"
                (click)="reservar(casillero, content)"
              >
                Reservar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-3" style="max-width: 600px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/images/informatica.jpg"
              class="img-fluid rounded-start w-100 h-100 object-fit-cover"
              alt="Ubicación informática UTA"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold">Ubicación</h5>
              <p class="card-text">informatica UTA</p>
              <p>
                Alcalde Edmundo Flores 301-399, 1010399 Arica, Arica y
                Parinacota
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Confirmación de Reserva -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmar Reserva</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      El casillero número {{ casilleroSeleccionado?.id_cld }} está actualmente
      {{ casilleroSeleccionado?.estado }}.
    </p>
    <p>¿Estás seguro de que deseas reservarlo?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="confirmarReserva(modal)"
    >
      Confirmar Reserva
    </button>
  </div>
</ng-template>
