<div class="container-fluid ms-5 mt-4">
  <div class="row">
    <div class="col-8">
      <h2>Resumen de Casilleros</h2>
      <div class="container-fluid d-flex gap-3 flex-wrap mt-4">
        <!-- Ejemplo de casillero libre -->
        <div class="card text-bg-success mb-3" style="max-width: 18rem">
          <div class="card-header text-center fw-bold">1</div>
          <div class="card-body justify-content-center text-center">
            <h5 class="card-title fw-bold">Libre</h5>
            <button class="btn btn-primary rounded-pill">Reservar</button>
          </div>
        </div>

        <!-- Ejemplo de casillero ocupado -->
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem">
          <div class="card-header text-center fw-bold">2</div>
          <div class="card-body justify-content-center text-center">
            <h5 class="card-title fw-bold">Ocupado</h5>
          </div>
        </div>

        <!-- Ejemplo de casillero defectuoso -->
        <div class="card text-bg-danger mb-3" style="max-width: 18rem">
          <div class="card-header text-center fw-bold">3</div>
          <div class="card-body justify-content-center text-center">
            <h5 class="card-title fw-bold">Defectuoso</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-3" style="max-width: 600px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/images/informatica.jpg"
              class="img-fluid rounded-start w-100 h-100 object-fit-cover"
              alt="Ubicación informática UTA"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold">Ubicación</h5>
              <p class="card-text">informatica UTA</p>
              <p>
                Alcalde Edmundo Flores 301-399, 1010399 Arica, Arica y
                Parinacota
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
