<div class="container-fluid ms-5 mt-4">
  <div class="row">
    <div class="col-11 col-xl-8">
      <div class="row">
        <h2>Mis Reservas</h2>
        <div class="card p-4">No tienes reservas realizadas.</div>
      </div>

      <div class="row mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha inicio</th>
              <th scope="col">Fecha término</th>
              <th scope="col">Nro Casillero</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>John</td>
              <td>Doe</td>
              <td>@social</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 col-xl-3 ms-lg-5 ms-md-0 mt-md-5">
      <div class="card mb-3" style="max-width: 600px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/images/informatica.jpg"
              class="img-fluid rounded-start w-100 h-100 object-fit-cover"
              alt="Ubicación informática UTA"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold">Ubicación</h5>
              <p class="card-text">informatica UTA</p>
              <p>
                Alcalde Edmundo Flores 301-399, 1010399 Arica, Arica y
                Parinacota
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
